In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
fo = open('C:/Users/user/Desktop/too.txt','r')
x = fo.read()
fo.close()

In [3]:
x

'abcdefghijklmnopqrstuvwxyz\nABCDEFGHIJKLMNOPQRSTUVWXYZ\npavanikadali@gmail.com\ns.hareen@gmail.com\nMr. something'

In [7]:
xr = re.findall(r'[\w|\.]*@gmail.com',x)
print(xr)

['pavanikadali@gmail.com', 's.hareen@gmail.com']

In [9]:
res = re.match(r'[125]',x)
print(res)

None

In [10]:
res = re.match(r'[abcw]',x)
print(res)

<re.Match object; span=(0, 1), match='a'>

In [13]:
res = re.match(r'[a-z][a-z]',x)
print(res.span())

(0, 2)

In [23]:
regex = r"([a-zA-Z]+) (\d{2}) (\d{4})"
string = "I was born in November 30 1991"
s = re.search(regex,string)
print(s)
print("Full match: %s" %(s.group()))
print("Month: %s" %(s.group(1)))
print("Day: %s" %(s.group(2)))
print("Year: %s" %(s.group(3)))

<re.Match object; span=(14, 30), match='November 30 1991'>
Full match: November 30 1991
Month: November
Day: 30
Year: 1991

In [24]:
res1 = re.search(r'Mr\.',x)
print(res1)

<re.Match object; span=(96, 99), match='Mr.'>

In [28]:
res1 = re.search(r'Mr\. [a-zA-Z]+',x)
print(res1)

<re.Match object; span=(96, 109), match='Mr. something'>

In [27]:
res = re.findall(r'[a-z][a-z]',x)
print(res)

['ab', 'cd', 'ef', 'gh', 'ij', 'kl', 'mn', 'op', 'qr', 'st', 'uv', 'wx', 'yz', 'pa', 'va', 'ni', 'ka', 'da', 'li', 'gm', 'ai', 'co', 'ha', 're', 'en', 'gm', 'ai', 'co', 'so', 'me', 'th', 'in']

In [29]:
res = re.finditer(r'[a-z][a-z]',x)
print(res)
for i in res:
    print(i.span())
    print(i.group())

<callable_iterator object at 0x0000017B02605DF0>
(0, 2)
ab
(2, 4)
cd
(4, 6)
ef
(6, 8)
gh
(8, 10)
ij
(10, 12)
kl
(12, 14)
mn
(14, 16)
op
(16, 18)
qr
(18, 20)
st
(20, 22)
uv
(22, 24)
wx
(24, 26)
yz
(54, 56)
pa
(56, 58)
va
(58, 60)
ni
(60, 62)
ka
(62, 64)
da
(64, 66)
li
(67, 69)
gm
(69, 71)
ai
(73, 75)
co
(79, 81)
ha
(81, 83)
re
(83, 85)
en
(86, 88)
gm
(88, 90)
ai
(92, 94)
co
(100, 102)
so
(102, 104)
me
(104, 106)
th
(106, 108)
in

In [34]:
string = "I was born on November 30 1991"
res = re.sub(r'[A-Z][a-zA-Z]{7}','August',string)
print(res)

I was born on August 30 1991

In [39]:
s = pd.Series(['A', 'B', 'C', 'apple', np.nan, 'good', 'a', 'b', 'c', 'pavani', 'sanju'])
print("original series: ",s)
print("\n convert all said series into upper case: ",s.str.upper())
print("\n convert all said series into lower case: ",s.str.lower())
print("\n length of the said series: ",s.str.len())

original series:  0          A
1          B
2          C
3      apple
4        NaN
5       good
6          a
7          b
8          c
9     pavani
10     sanju
dtype: object

 convert all said series into upper case:  0          A
1          B
2          C
3      APPLE
4        NaN
5       GOOD
6          A
7          B
8          C
9     PAVANI
10     SANJU
dtype: object

 convert all said series into lower case:  0          a
1          b
2          c
3      apple
4        NaN
5       good
6          a
7          b
8          c
9     pavani
10     sanju
dtype: object

 length of the said series:  0     1.0
1     1.0
2     1.0
3     5.0
4     NaN
5     4.0
6     1.0
7     1.0
8     1.0
9     6.0
10    5.0
dtype: float64

In [38]:
col = pd.Index([' Red ',' Green ',' white ',' Black ',' Blue '])
print("original colours: ",col)
print("\n after removing whitespace: ",col.str.strip())
print("\n after removing right sided whitespace: ",col.str.rstrip())
print("\n after removing left sided whitespace: ",col.str.lstrip())

original colours:  Index([' Red ', ' Green ', ' white ', ' Black ', ' Blue '], dtype='object')

 after removing whitespace:  Index(['Red', 'Green', 'white', 'Black', 'Blue'], dtype='object')

 after removing right sided whitespace:  Index([' Red', ' Green', ' white', ' Black', ' Blue'], dtype='object')

 after removing left sided whitespace:  Index(['Red ', 'Green ', 'white ', 'Black ', 'Blue '], dtype='object')

In [43]:
n = {'amount' : [5,25,500,1000,10000,250000]}
print("original dataframe: ")
df = pd.DataFrame(n)
print(df)
print("\n add leading zeros: ")
df['amount'] = df['amount'].apply(lambda x : '{0:0>8}'.format (x))
print(df)

original dataframe:
   amount
0       5
1      25
2     500
3    1000
4   10000
5  250000

 add leading zeros:
     amount
0  00000005
1  00000025
2  00000500
3  00001000
4  00010000
5  00250000

In [51]:
n = {'amount' : [5,25,500,1000,10000,250000]}
print("original dataframe: ")
df = pd.DataFrame(n)
print(df)
print("\n add leading zeros: ")
df['amount'] = list(map(lambda x: zfill(8) , df['amount']))
print(df)

original dataframe:
   amount
0       5
1      25
2     500
3    1000
4   10000
5  250000

 add leading zeros:

NameError: name 'zfill' is not defined

In [61]:
df = pd.DataFrame({'name': ['pavani','hareen','vedanshi','sanju'],
                 'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original DataFrame:")
print(df)
print("\nAfter capitalizing name column:")
df['name'] = list(map(lambda x: x.capitalize(), df['name']))
print(df)

Original DataFrame:
       name      date  age
0    pavani  0.001370   29
1    hareen  0.001007   34
2  vedanshi  0.001238    2
3     sanju  0.001493   11

After capitalizing name column:
       name      date  age
0    Pavani  0.001370   29
1    Hareen  0.001007   34
2  Vedanshi  0.001238    2
3     Sanju  0.001493   11

In [67]:
df = pd.DataFrame({'Name' : ['c001','c002','c022','c222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\nafter counting no of 2's in Name column: ")
df['count'] = list(map(lambda x : x.count("2"), df['Name']))
print(df)

Original Dataframe:
   Name      date  age
0  c001  0.001370   29
1  c002  0.001007   34
2  c022  0.001238    2
3  c222  0.001493   11

after counting no of 2's in Name column:
   Name      date  age  count
0  c001  0.001370   29      0
1  c002  0.001007   34      1
2  c022  0.001238    2      2
3  c222  0.001493   11      3

In [68]:
df = pd.DataFrame({'Name' : ['c001','c002','c022','c222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\nafter counting no of 2's in Name column: ")
df['Index'] = list(map(lambda x : x.find("2"), df['Name']))
print(df)

Original Dataframe:
   Name      date  age
0  c001  0.001370   29
1  c002  0.001007   34
2  c022  0.001238    2
3  c222  0.001493   11

after counting no of 2's in Name column:
   Name      date  age  Index
0  c001  0.001370   29     -1
1  c002  0.001007   34      3
2  c022  0.001238    2      2
3  c222  0.001493   11      1

In [71]:
df = pd.DataFrame({'Name' : ['c001','c002','c022','2c22'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\nafter indexing Name column: ")
df['Index'] = list(map(lambda x : x.find("c",0,4), df['Name']))
print(df)

Original Dataframe:
   Name      date  age
0  c001  0.001370   29
1  c002  0.001007   34
2  c022  0.001238    2
3  2c22  0.001493   11

after indexing Name column:
   Name      date  age  Index
0  c001  0.001370   29      0
1  c002  0.001007   34      0
2  c022  0.001238    2      0
3  2c22  0.001493   11      1

In [74]:
df = pd.DataFrame({'Name' : ['company','company a01','company 22','1222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\n Is Name column is alphanumeric ?: ")
df['Name_alphanumeric'] = list(map(lambda x : x.isalnum(), df['Name']))
print(df)

Original Dataframe:
          Name      date  age
0      company  0.001370   29
1  company a01  0.001007   34
2   company 22  0.001238    2
3         1222  0.001493   11

 Is Name column is alphanumeric ?:
          Name      date  age  Name_alphanumeric
0      company  0.001370   29               True
1  company a01  0.001007   34              False
2   company 22  0.001238    2              False
3         1222  0.001493   11               True

In [76]:
df = pd.DataFrame({'Name' : ['company','company a01','CANO','1222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\n Is Name column is alphabetic?: ")
df['Name_alphabetic'] = list(map(lambda x : x.isalpha(), df['Name']))
print(df)

Original Dataframe:
          Name      date  age
0      company  0.001370   29
1  company a01  0.001007   34
2         CANO  0.001238    2
3         1222  0.001493   11

 Is Name column is alphabetic?:
          Name      date  age  Name_alphabetic
0      company  0.001370   29             True
1  company a01  0.001007   34            False
2         CANO  0.001238    2             True
3         1222  0.001493   11            False

In [78]:
df = pd.DataFrame({'Name' : ['company','company a01','company 22','1222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\n Is Name column is numeric ?: ")
df['Name_digit'] = list(map(lambda x : x.isdigit(), df['Name']))
print(df)

Original Dataframe:
          Name      date  age
0      company  0.001370   29
1  company a01  0.001007   34
2   company 22  0.001238    2
3         1222  0.001493   11

 Is Name column is numeric ?:
          Name      date  age  Name_digit
0      company  0.001370   29       False
1  company a01  0.001007   34       False
2   company 22  0.001238    2       False
3         1222  0.001493   11        True

In [82]:
df = pd.DataFrame({'Name' : ['compaCD','company a01','CSAB','htuyv'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)

df['Name_upper'] = list(map(lambda x : x.isupper(), df['Name']))

print("\n Is Name column is lower or upper?: ")
df['Name_lower'] = list(map(lambda x : x.islower(), df['Name']))
print(df)

Original Dataframe:
          Name      date  age
0      compaCD  0.001370   29
1  company a01  0.001007   34
2         CSAB  0.001238    2
3        htuyv  0.001493   11

 Is Name column is lower or upper?:
          Name      date  age  Name_upper  Name_lower
0      compaCD  0.001370   29       False       False
1  company a01  0.001007   34       False        True
2         CSAB  0.001238    2        True       False
3        htuyv  0.001493   11       False        True

In [83]:
df = pd.DataFrame({'Name' : ['Company','company a01','CXDS','1222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\n Is Name column is proper or title ?: ")
df['Name_title'] = list(map(lambda x : x.istitle(), df['Name']))
print(df)

Original Dataframe:
          Name      date  age
0      Company  0.001370   29
1  company a01  0.001007   34
2         CXDS  0.001238    2
3         1222  0.001493   11

 Is Name column is proper or title ?:
          Name      date  age  Name_title
0      Company  0.001370   29        True
1  company a01  0.001007   34       False
2         CXDS  0.001238    2       False
3         1222  0.001493   11       False

In [84]:
df = pd.DataFrame({'Name' : ['company','company a01','company 22',' '],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\n Is Name column contains only space ?: ")
df['Name_space'] = list(map(lambda x : x.isspace(), df['Name']))
print(df)

Original Dataframe:
          Name      date  age
0      company  0.001370   29
1  company a01  0.001007   34
2   company 22  0.001238    2
3               0.001493   11

 Is Name column contains only space ?:
          Name      date  age  Name_space
0      company  0.001370   29       False
1  company a01  0.001007   34       False
2   company 22  0.001238    2       False
3               0.001493   11        True

In [87]:
df = pd.DataFrame({'Name' : ['company','company a01','company 22','1222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\n length of the string is: ")
df['Name_length'] = df['Name'].apply(len)
print(df)

Original Dataframe:
          Name      date  age
0      company  0.001370   29
1  company a01  0.001007   34
2   company 22  0.001238    2
3         1222  0.001493   11

 length of the string is:
          Name      date  age  Name_length
0      company  0.001370   29            7
1  company a01  0.001007   34           11
2   company 22  0.001238    2           10
3         1222  0.001493   11            4

In [89]:
df = pd.DataFrame({'Name' : ['company','company a01','company 22','1222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29.11,34.22,2.8,11.10]})
print("Original Dataframe: ")
print(df)
print("\n length of the integers: ")
df['age_length'] = df['age'].map(str).apply(len)
print(df)

Original Dataframe:
          Name      date    age
0      company  0.001370  29.11
1  company a01  0.001007  34.22
2   company 22  0.001238   2.80
3         1222  0.001493  11.10

 length of the integers:
          Name      date    age  age_length
0      company  0.001370  29.11           5
1  company a01  0.001007  34.22           5
2   company 22  0.001238   2.80           3
3         1222  0.001493  11.10           4

In [90]:
df = pd.DataFrame({'Name' : ['company','company a01','acv22','1222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\n is any string starts with particular word: ")
df['Name_letter'] = list(map(lambda x : x.startswith('com'), df['Name']))
print(df)

Original Dataframe:
          Name      date  age
0      company  0.001370   29
1  company a01  0.001007   34
2        acv22  0.001238    2
3         1222  0.001493   11

 is any string starts with particular word:
          Name      date  age  Name_letter
0      company  0.001370   29         True
1  company a01  0.001007   34         True
2        acv22  0.001238    2        False
3         1222  0.001493   11        False

In [92]:
df = pd.DataFrame({'Name' : ['company','company a01','company 22','1222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
df1 = pd.DataFrame({'Name' : ['company','company a01','company 22','1222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\n upper case in Name: ")
df['Name_upper'] = list(map(lambda x : x.isupper(), df['Name']))
print(df)
print("\n lower case in Name: ")
df1['Name_lower'] = list(map(lambda x: x.islower(), df1['Name']))
print(df1)

Original Dataframe:
          Name      date  age
0      company  0.001370   29
1  company a01  0.001007   34
2   company 22  0.001238    2
3         1222  0.001493   11

 upper case in Name:
          Name      date  age  Name_upper
0      company  0.001370   29       False
1  company a01  0.001007   34       False
2   company 22  0.001238    2       False
3         1222  0.001493   11       False

 lower case in Name:
          Name      date  age  Name_lower
0      company  0.001370   29        True
1  company a01  0.001007   34        True
2   company 22  0.001238    2        True
3         1222  0.001493   11       False

In [99]:
df = pd.DataFrame({'Name' : ['company','company a01','company 22','1222'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("original Dataframe: ")
print(df)
print("\n Dataframe in title: ")
df["Name_title"] = list(map(lambda x : x.title(),df["Name"]))
print(df)

original Dataframe:
          Name      date  age
0      company  0.001370   29
1  company a01  0.001007   34
2   company 22  0.001238    2
3         1222  0.001493   11

 Dataframe in title:
          Name      date  age   Name_title
0      company  0.001370   29      Company
1  company a01  0.001007   34  Company A01
2   company 22  0.001238    2   Company 22
3         1222  0.001493   11         1222

In [104]:
df = pd.DataFrame({'Name' : ['A','B','C','D'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\n replaced name: ")
df = df.replace(29,30)
print(df)

Original Dataframe:
  Name      date  age
0    A  0.001370   29
1    B  0.001007   34
2    C  0.001238    2
3    D  0.001493   11

 replaced name:
  Name      date  age
0    A  0.001370   30
1    B  0.001007   34
2    C  0.001238    2
3    D  0.001493   11

In [107]:
df = pd.DataFrame({'Name' : ['A','B','C','D'],
                  'date' : [30/11/1991,18/9/1987,10/4/2019,12/4/2010],
                 'age' : [29,34,2,11]})
print("Original Dataframe: ")
print(df)
print("\n replaced name: ")
df = df.replace(["A","B","C","D"], ["x","Y","U","V"])
print(df)

Original Dataframe:
  Name      date  age
0    A  0.001370   29
1    B  0.001007   34
2    C  0.001238    2
3    D  0.001493   11

 replaced name:
  Name      date  age
0    x  0.001370   29
1    Y  0.001007   34
2    U  0.001238    2
3    V  0.001493   11

In [108]:
df = pd.DataFrame({
    'name': ['Alberto  Franco','Gino Ann Mcneill','Ryan  Parkes', 'Eesha Artur Hinton', 'Syed  Wharton'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})
print("Original Dataframe: ")
print(df)
df[["First","Middle","Last"]] = df["name"].str.split(" ", expand = True)
print("Modified Dataframe: ")
print(df)

Original Dataframe:
                 name date_of_birth    age
0     Alberto  Franco     17/05/2002  18.5
1    Gino Ann Mcneill     16/02/1999  21.2
2        Ryan  Parkes     25/09/1998  22.5
3  Eesha Artur Hinton     11/05/2002  22.0
4       Syed  Wharton     15/09/1997  23.0
Modified Dataframe:
                 name date_of_birth    age    First Middle     Last
0     Alberto  Franco     17/05/2002  18.5  Alberto          Franco
1    Gino Ann Mcneill     16/02/1999  21.2     Gino    Ann  Mcneill
2        Ryan  Parkes     25/09/1998  22.5     Ryan          Parkes
3  Eesha Artur Hinton     11/05/2002  22.0    Eesha  Artur   Hinton
4       Syed  Wharton     15/09/1997  23.0     Syed         Wharton

In [110]:
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({'Name_email' : ['pavanikadali333@gmail.com','s.hareenkumar118@gmail.com','pavani.cool333@gmail.com','pavanihareen']})
print("Original Dataframe: ")
print(df)
def find_email(text):
    email = re.findall(r'[\w\.-]+@[\w\.-]+',str(text))
    return ','.join(email)
df['email'] = df['Name_email'].apply(lambda x : find_email(x))
print("\n extracting email from dataframe columns: ")
print(df)

Original Dataframe:
                   Name_email
0   pavanikadali333@gmail.com
1  s.hareenkumar118@gmail.com
2    pavani.cool333@gmail.com
3                pavanihareen

 extracting email from dataframe columns:
                   Name_email                       email
0   pavanikadali333@gmail.com   pavanikadali333@gmail.com
1  s.hareenkumar118@gmail.com  s.hareenkumar118@gmail.com
2    pavani.cool333@gmail.com    pavani.cool333@gmail.com
3                pavanihareen

In [114]:
pd.set_option("display.max_columns", (10))
df = pd.DataFrame({'tweets': ['#Obama says goodbye','Retweets for #cash','A political endorsement in #Indonesia', '1 dog = many #retweets', 'Just a simple #egg']})
print("Original Dataframe: ")
print(df)
def find_hash(text):
    hword = re.findall(r'[?<=#]\w+',text)
    return " ".join(hword)
df["hash_word"] = df['tweets'].apply(lambda x:find_hash(x))
print("\n Extracting #@ from Dataframe: ")
print(df)

Original Dataframe:
                                  tweets
0                    #Obama says goodbye
1                     Retweets for #cash
2  A political endorsement in #Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg

 Extracting #@ from Dataframe:
                                  tweets   hash_word
0                    #Obama says goodbye      #Obama
1                     Retweets for #cash       #cash
2  A political endorsement in #Indonesia  #Indonesia
3                 1 dog = many #retweets   #retweets
4                     Just a simple #egg        #egg

In [4]:
pd.set_option("display.max_columns", (10))
df = pd.DataFrame({'tweets': ['@Obama says goodbye','Retweets for @cash','A political endorsement in @Indonesia', '1 dog = many @retweets', 'Just a simple #egg']})
print("Original Dataframe: ")
print(df)
def find_at_word(text):
    word = re.findall(r'[?<=@]\w+',text)
    return " ".join(word)
df['at_word'] = df['tweets'].apply(lambda x:find_at_word(x))
print('\n Extracting @ from Dataframe: ')
print(df)

Original Dataframe:
                                  tweets
0                    @Obama says goodbye
1                     Retweets for @cash
2  A political endorsement in @Indonesia
3                 1 dog = many @retweets
4                     Just a simple #egg

 Extracting @ from Dataframe:
                                  tweets     at_word
0                    @Obama says goodbye      @Obama
1                     Retweets for @cash       @cash
2  A political endorsement in @Indonesia  @Indonesia
3                 1 dog = many @retweets   @retweets
4                     Just a simple #egg

In [5]:
pd.set_option("display.max_columns", (10))
df = pd.DataFrame({'tweets': ['#Obama says 233 goodbye','Retweets 345 for #cash','A political 5611 endorsement in #Indonesia', '1 dog = many #retweets', 'Just a simple #egg']})
print("Original Dataframe: ")
print(df)
def find_number(text):
    num = re.findall(r'[0-9]+',text)
    return " ".join(num)
df['number'] = df['tweets'].apply(lambda x : find_number(x))
print("\n Extracting numbers from Dataframe: ")
print(df)

Original Dataframe:
                                       tweets
0                     #Obama says 233 goodbye
1                      Retweets 345 for #cash
2  A political 5611 endorsement in #Indonesia
3                      1 dog = many #retweets
4                          Just a simple #egg

 Extracting numbers from Dataframe:
                                       tweets number
0                     #Obama says 233 goodbye    233
1                      Retweets 345 for #cash    345
2  A political 5611 endorsement in #Indonesia   5611
3                      1 dog = many #retweets      1
4                          Just a simple #egg

In [11]:
pd.set_option("display.max_columns", (10))
df = pd.DataFrame({'phone': [' 9052348533 bye','8424983384 #cash','9652115673 #Indonesia', '1 dog = many #retweets', '9885 a simple #egg']})
print("Original Dataframe: ")
print(df)
def find_phone_number(text):
    num = re.findall(r"\b\d{10}\b",text)
    return " ".join(num)
df['number'] = df['phone'].apply(lambda x : find_phone_number(x))
print("\n Extracting phone number from Dataframe: ")
print(df)

Original Dataframe:
                    phone
0          9052348533 bye
1        8424983384 #cash
2   9652115673 #Indonesia
3  1 dog = many #retweets
4      9885 a simple #egg

 Extracting phone number from Dataframe:
                    phone      number
0          9052348533 bye  9052348533
1        8424983384 #cash  8424983384
2   9652115673 #Indonesia  9652115673
3  1 dog = many #retweets
4      9885 a simple #egg

In [18]:
pd.set_option("display.max_columns", (10))
df = pd.DataFrame({'year': ['year 1700','year 1800','year 2010', 'year 1990', 'year 2021']})
print("Original Dataframe: ")
print(df)
def find_year(text):
    year = re.findall(r"\b(18[0-8][0-9]|19[0-8][0-9]|199[0-9]{1}|2[0-8][0-9]{2}|2200)\b",text)
    return year
df['year_range'] = df['year'].apply(lambda x : find_year(x))
print("\n Extracting year between 1800 and 2200: ")
print(df)

Original Dataframe:
        year
0  year 1700
1  year 1800
2  year 2010
3  year 1990
4  year 2021

 Extracting year between 1800 and 2200:
        year year_range
0  year 1700         []
1  year 1800     [1800]
2  year 2010     [2010]
3  year 1990     [1990]
4  year 2021     [2021]

In [20]:
pd.set_option("display.max_columns", (10))
df = pd.DataFrame({'company': ['#cc001','485k@','gty%', '&45k', '*uy12']})
print("Original Dataframe: ")
print(df)
def find_nonalpha(text):
    nonalpha = re.findall("[^A-Za-z0-9]",text)
    return nonalpha
df['special'] = df['company'].apply(lambda x : find_nonalpha(x))
print("\n Extracting special characters from dataframe: ")
print(df)

Original Dataframe:
  company
0  #cc001
1   485k@
2    gty%
3    &45k
4   *uy12

 Extracting special characters from dataframe:
  company special
0  #cc001     [#]
1   485k@     [@]
2    gty%     [%]
3    &45k     [&]
4   *uy12     [*]

In [2]:
pd.set_option("display.max_columns", (10))
df = pd.DataFrame({'company': ['!cc001','485k!','gty%', '!45k', '*uy!12']})
print("Original Dataframe: ")
print(df)
def find_punctuation(text):
    result = re.findall(r'[!@#$%^&*()_+{}|:"<>"/;'']',text)
    return " ".join(result)
df['result'] = df['company'].apply(lambda x : find_punctuation(x))
print(df)

Original Dataframe:
  company
0  !cc001
1   485k!
2    gty%
3    !45k
4  *uy!12
  company result
0  !cc001      !
1   485k!      !
2    gty%      %
3    !45k      !
4  *uy!12    * !

In [4]:
pd.set_option("display.max_columns", (10))
df = pd.DataFrame({'company': ['#cc001','485kk@','ggty%', '&455k', '*uuy12']})
print("Original Dataframe: ")
print(df)
def rep_char(str1):
    tchr = str1.group(0)
    if len(tchr) > 1:
        return tchr[0:1]
def unique_char(rep, sent_text):
    convert = re.sub(r'(\w)\1+',rep,sent_text)
    return convert
df['normal_text'] = df['company'].apply(lambda x : unique_char(rep_char,x))
print("\n After removing repitation from Dataframe: ")
print(df)

Original Dataframe:
  company
0  #cc001
1  485kk@
2   ggty%
3   &455k
4  *uuy12

 After removing repitation from Dataframe:
  company normal_text
0  #cc001        #c01
1  485kk@       485k@
2   ggty%        gty%
3   &455k        &45k
4  *uuy12       *uy12

In [13]:

df = pd.DataFrame({'numbers': ['1000','942','845', '958', '910']})
print("Original Dataframe: ")
print(df)
def test_num_great(text):
    num = re.findall(r'94[1-9]|9[5-9]\d|[1-9]\d{3,}',text)
    return " ".join(num)
df['num'] = df['numbers'].apply(lambda x : test_num_great(x))
print("\n Extracting numbers greater than 940: ")
print(df)

Original Dataframe:
  numbers
0    1000
1     942
2     845
3     958
4     910

 Extracting numbers greater than 940:
  numbers   num
0    1000  1000
1     942   942
2     845
3     958   958
4     910

In [16]:
df = pd.DataFrame({'numbers': ['30','99','25', '58', '101']})
print("Original Dataframe: ")
print(df)
def test_num_less(text):
    num = re.findall(r'\b(0*(?:[1-9][0-9]?|100))\b',text)
    return " ".join(num)
df['num'] = df['numbers'].apply(lambda x : test_num_less(x))
print("\n Extracting numbers less than 100: ")
print(df)

Original Dataframe:
  numbers
0      30
1      99
2      25
3      58
4     101

 Extracting numbers less than 100:
  numbers num
0      30  30
1      99  99
2      25  25
3      58  58
4     101

In [9]:

df = pd.DataFrame({'numbers': ['1000','942','845', '958', '910'],
                  'address': ['1900 present one.','248 party wear.','123 bgswbjw.','1900 past one.','458 nsbdu.']})
print("Original Dataframe: ")
print(df)
def test_and_cond(text):
    result = re.findall(r'(?=.*one.)(?=.*1900.).*', text) 
    return " ".join(result)
df['check_two_words'] = df['address'].apply(lambda x : test_and_cond(x))
print("\n Present two words: ")
print(df)

Original Dataframe:
  numbers            address
0    1000  1900 present one.
1     942    248 party wear.
2     845       123 bgswbjw.
3     958     1900 past one.
4     910         458 nsbdu.

 Present two words:
  numbers            address    check_two_words
0    1000  1900 present one.  1900 present one.
1     942    248 party wear.
2     845       123 bgswbjw.
3     958     1900 past one.     1900 past one.
4     910         458 nsbdu.

In [15]:
df = pd.DataFrame({'numbers': ['1000','942','845', '958'],
                  'address': ['1900 present one.','248 party wear.','123 bgswbjw.','1900 past one.'],
                  'date': ['30/11/1991','3/11/1991','18/9/1987','1/8/1992']})
print("Original Dataframe: ")
print(df)
def find_date(text):
    result = re.findall(r'\b(1[0-2]|0[1-9])/(3[01]|[12][0-9]|0[1-9])/([0-9]{4})\b',text)
    return " ".join(result)
df['find_date'] = df['date'].apply(lambda x : find_date(x))
print("\n valid dates in format mm/dd/yyyy: ")
print(df)

Original Dataframe:
  numbers            address        date
0    1000  1900 present one.  30/11/1991
1     942    248 party wear.   3/11/1991
2     845       123 bgswbjw.   18/9/1987
3     958     1900 past one.    1/8/1992

 valid dates in format mm/dd/yyyy:
  numbers            address        date find_date
0    1000  1900 present one.  30/11/1991
1     942    248 party wear.   3/11/1991
2     845       123 bgswbjw.   18/9/1987
3     958     1900 past one.    1/8/1992

In [19]:
#df = pd.DataFrame({'numbers': ['1000','942','845', '958'],
 #                 'address': ['1900 present one.','248 party wear.','123 bgswbjw.','1900 past one.'],
  #                'date': ['30/11/1991','3/11/1991','18/9/1987','1/8/1992']})
#print("Original Dataframe: ")
#print(df)
#def find_words(text):
#    result = re.findall(r'\b[^\d\w]+\b', text)
 #   return " ".join(result)

#df['only_words'] = df['address'].apply(lambda x : find_words(x))
#print("\n Extract only words: ")
#print(df)
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey Ave.','92 N. Bishop Ave.','9910 Golden Star Ave.', '102 Dunbar St.', '17 West Livingston Court']
})
print("Original DataFrame:")
print(df)

def search_words(text):
    result = re.findall(r'\b[^\d\W]+\b', text)
    return " ".join(result)

df['only_words']=df['address'].apply(lambda x : search_words(x))
print("\nOnly words:")
print(df)

Original DataFrame:
  company_code date_of_sale                   address
0         Abcd   12/05/2002          9910 Surrey Ave.
1         EFGF   16/02/1999         92 N. Bishop Ave.
2      zefsalf   05/09/1998     9910 Golden Star Ave.
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

Only words:
  company_code date_of_sale                   address             only_words
0         Abcd   12/05/2002          9910 Surrey Ave.             Surrey Ave
1         EFGF   16/02/1999         92 N. Bishop Ave.           N Bishop Ave
2      zefsalf   05/09/1998     9910 Golden Star Ave.        Golden Star Ave
3      sdfslew   12/02/2022            102 Dunbar St.              Dunbar St
4      zekfsdf   15/09/1997  17 West Livingston Court  West Livingston Court

In [20]:
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey Avenue.','92 N. Bishop Avenue.','9910 Golden Star Avenue.', '102 Dunbar St.', '17 West Livingston Court']
})
print("Original DataFrame:")
print(df)

def pick_only_key_sentence(str1,word):
    result = re.findall(r'([^.]*'+word+'[^.]*)', str1)
    return result

df['filter_sentence']=df['address'].apply(lambda x : pick_only_key_sentence(x,'Avenue'))
print("\n Sentence: ")
print(df)

Original DataFrame:
  company_code date_of_sale                   address
0         Abcd   12/05/2002       9910 Surrey Avenue.
1         EFGF   16/02/1999      92 N. Bishop Avenue.
2      zefsalf   05/09/1998  9910 Golden Star Avenue.
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

 Sentence:
  company_code date_of_sale                   address  \
0         Abcd   12/05/2002       9910 Surrey Avenue.
1         EFGF   16/02/1999      92 N. Bishop Avenue.
2      zefsalf   05/09/1998  9910 Golden Star Avenue.
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

             filter_sentence
0       [9910 Surrey Avenue]
1           [ Bishop Avenue]
2  [9910 Golden Star Avenue]
3                         []
4                         []

In [29]:
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Survey Ave\n9910 Survey Ave','92 N. Bishop Ave','9910 Golden Star Ave\n9910 Golden Star Ave', '102 Dunbar St', '17 West Livingston Court']
})
print("Original DataFrame:")
print(df)

def find_unique_sentences(str1):
    result = re.findall(r'(?sm)(^[^\r\n]+$)(?!.*^\1$)', str1)
    return result

df['unique_sentences']=df['address'].apply(lambda st : find_unique_sentences(st))
print("\nunique sentences:")
print(df)

Original DataFrame:
  company_code date_of_sale                                     address
0         Abcd   12/05/2002            9910 Survey Ave\n9910 Survey Ave
1         EFGF   16/02/1999                            92 N. Bishop Ave
2      zefsalf   05/09/1998  9910 Golden Star Ave\n9910 Golden Star Ave
3      sdfslew   12/02/2022                               102 Dunbar St
4      zekfsdf   15/09/1997                    17 West Livingston Court

unique sentences:
  company_code date_of_sale                                     address  \
0         Abcd   12/05/2002            9910 Survey Ave\n9910 Survey Ave
1         EFGF   16/02/1999                            92 N. Bishop Ave
2      zefsalf   05/09/1998  9910 Golden Star Ave\n9910 Golden Star Ave
3      sdfslew   12/02/2022                               102 Dunbar St
4      zekfsdf   15/09/1997                    17 West Livingston Court

             unique_sentences
0           [9910 Survey Ave]
1          [92 N. Bishop Ave]
2      [9910 Golden Star Ave]
3             [102 Dunbar St]
4  [17 West Livingston Court]

In [30]:
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'Sdfslew', 'Zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': [' Surrey Avenue\n9910 Surrey Avenue','92 N. Bishop Avenue','9910 Golden Star Avenue', '102 Dunbar St.\n102 Dunbar St.', '17 West Livingston Court']
})

print("Original DataFrame:")
print(df)

def find_capital(text):
    result = re.findall(r'\b[A-Z]\w+', text)
    return result

df['capital_words']=df['company_code'].apply(lambda x : find_capital(x))
print("\n words starts with capital: ")
print(df)

Original DataFrame:
  company_code date_of_sale                             address
0         Abcd   12/05/2002   Surrey Avenue\n9910 Surrey Avenue
1         EFGF   16/02/1999                 92 N. Bishop Avenue
2      zefsalf   05/09/1998             9910 Golden Star Avenue
3      Sdfslew   12/02/2022      102 Dunbar St.\n102 Dunbar St.
4      Zekfsdf   15/09/1997            17 West Livingston Court

 words starts with capital:
  company_code date_of_sale                             address capital_words
0         Abcd   12/05/2002   Surrey Avenue\n9910 Surrey Avenue        [Abcd]
1         EFGF   16/02/1999                 92 N. Bishop Avenue        [EFGF]
2      zefsalf   05/09/1998             9910 Golden Star Avenue            []
3      Sdfslew   12/02/2022      102 Dunbar St.\n102 Dunbar St.     [Sdfslew]
4      Zekfsdf   15/09/1997            17 West Livingston Court     [Zekfsdf]

In [32]:
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
     'address': ['9910 Surrey <b>Avenue</b>','92 N. Bishop Avenue','9910 <br>Golden Star Avenue', '102 Dunbar <i></i>St.', '17 West Livingston Court']
})
print("Original DataFrame:")
print(df)

def remove_tags(str1):
    result = re.sub('<.*?>','', str1)
    return result

df['without_tags']=df['address'].apply(lambda st : remove_tags(st))
print("\n sentence after tags: ")
print(df)

Original DataFrame:
  company_code date_of_sale                      address
0         Abcd   12/05/2002    9910 Surrey <b>Avenue</b>
1         EFGF   16/02/1999          92 N. Bishop Avenue
2      zefsalf   05/09/1998  9910 <br>Golden Star Avenue
3      sdfslew   12/02/2022        102 Dunbar <i></i>St.
4      zekfsdf   15/09/1997     17 West Livingston Court

 sentence after tags:
  company_code date_of_sale                      address  \
0         Abcd   12/05/2002    9910 Surrey <b>Avenue</b>
1         EFGF   16/02/1999          92 N. Bishop Avenue
2      zefsalf   05/09/1998  9910 <br>Golden Star Avenue
3      sdfslew   12/02/2022        102 Dunbar <i></i>St.
4      zekfsdf   15/09/1997     17 West Livingston Court

               without_tags
0        9910 Surrey Avenue
1       92 N. Bishop Avenue
2   9910 Golden Star Avenue
3            102 Dunbar St.
4  17 West Livingston Court